@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap");
.btn {
  background: transparent;
  border: 1px solid #765eb3;
  padding: 20px 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.3rem;
  margin: 30px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  transition: 0.2s ease;
}
@media (max-width: 768px) {
  .btn {
    margin: 30px 10px;
  }
}
.btn:hover {
  background-color: #765eb3;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  line-height: 2rem;
  letter-spacing: 2px;
}
body .fa-home {
  display: none;
}
@media (max-width: 768px) {
  body .fa-home {
    display: block;
    color: #be77a4;
    font-size: 3rem;
    position: fixed;
    top: 30px;
    right: 20px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.2s ease;
}
a:hover {
  color: rgba(211, 211, 211, 0.7);
}

ul {
  list-style: none;
}

p {
  font-weight: 300;
  line-height: 3rem;
}

/***menu***/
aside {
  width: 30%;
  height: 100vh;
  position: fixed;
  float: left;
}
@media (max-width: 768px) {
  aside {
    position: relative;
    width: 100%;
  }
}
aside .menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 70px 50px;
  background-color: #312450;
}
aside .menu .logo {
  margin: 0 auto;
}
aside .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 30px;
  line-height: 4rem;
}
aside .menu ul li {
  position: relative;
  padding: 20px;
}
aside .menu ul li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 70px;
  border: 1px solid #5e42a6;
  display: inline-block;
  width: 550px;
  margin: 0 auto;
  height: 0;
}
aside .menu .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 50px;
}
aside .menu .social i {
  font-size: 3rem;
  margin-left: 20px;
}

header {
  background-image: linear-gradient(rgba(94, 66, 166, 0.8), rgba(94, 66, 166, 0.8)), url(img/circle.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  float: right;
  width: 70%;
}
@media (max-width: 768px) {
  header {
    width: 100%;
  }
}
header div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40vh 100px 50px 100px;
}
@media (max-width: 768px) {
  header div {
    padding: 30vh 100px 50px 100px;
  }
}
header div h1 {
  font-size: 6rem;
}
@media (max-width: 768px) {
  header div h1 {
    font-size: 4rem;
  }
}
header div p {
  padding: 100px 0;
  font-size: 1.5rem;
  line-height: 3rem;
}
@media (max-width: 768px) {
  header div p {
    font-size: 1.3rem;
  }
}

/***main***/
main {
  scroll-behavior: smooth;
  float: right;
  width: 70%;
  height: 100vh;
  /***about***/
  /***whatwedo***/
  /***contact***/
}
@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
main #about {
  height: 100vh;
}
@media (max-width: 768px) {
  main #about {
    height: 100%;
  }
}
main #about article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  main #about article {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main #about article div {
    width: 100%;
  }
}
main #about article div img {
  display: block;
  width: 33.33vh;
}
@media (max-width: 768px) {
  main #about article div img {
    width: 100%;
  }
}
main #about article div h3 {
  font-size: 2.5rem;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  main #about article div h3 {
    font-size: 2rem;
    padding-left: 50px;
    padding-top: 20px;
  }
}
main #about article div p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  main #about article div p {
    font-size: 1.3rem;
    padding: 0 50px;
  }
}
main #about article div:first-child {
  flex: 0 0 30%;
}
@media (max-width: 768px) {
  main #about article div:first-child {
    flex: 0 0 100%;
  }
}
main #about article div:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 70%;
  padding: 50px 0 50px auto;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  main #about article div:last-child {
    flex: 0 0 100%;
    padding: 30px;
  }
}
main #about article:nth-child(1) {
  background-color: #5052b5;
}
main #about article:nth-child(2) {
  background-color: #4c4eac;
}
main #about article:nth-child(3) {
  background-color: #484aa3;
}
main #whatwedo {
  background-color: #b74e91;
  padding: 40px 100px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 768px) {
  main #whatwedo {
    height: 100%;
    flex-wrap: wrap;
  }
}
main #whatwedo article:nth-child(1) {
  flex: 0 0 20%;
  padding: 40px 0 20px 0;
}
main #whatwedo article:nth-child(1) h2 {
  font-size: 2.7rem;
  padding-bottom: 30px;
}
main #whatwedo article:nth-child(1) p {
  font-size: 1.3rem;
}
main #whatwedo article:nth-child(2) {
  flex: 0 0 50%;
  background-color: #be77a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main #whatwedo article:nth-child(2) div {
  flex: 0 0 50%;
  padding: 70px 50px 70px 0;
  border: 1px solid rgba(211, 211, 211, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main #whatwedo article:nth-child(2) div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 100%;
  }
}
main #whatwedo article:nth-child(2) div i {
  flex: 0 0 30%;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 768px) {
  main #whatwedo article:nth-child(2) div i {
    flex: 0 0 100%;
    padding-bottom: 50px;
  }
}
main #whatwedo article:nth-child(2) div div {
  flex: 0 0 70%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 768px) {
  main #whatwedo article:nth-child(2) div div {
    flex: 0 0 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
}
main #whatwedo article:nth-child(2) div div h4 {
  font-size: 2rem;
  padding-bottom: 20px;
}
main #whatwedo article:nth-child(2) div div p {
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  main #whatwedo article:nth-child(2) div div p {
    text-align: center;
    padding-left: 50px;
  }
}
main #whatwedo article:nth-child(2):nth-child(3) {
  flex: 0 0 20%;
}
main #contact {
  background-color: #5e42a6;
  padding: 40px 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  main #contact {
    height: 100%;
  }
}
main #contact article:nth-child(1) {
  padding: 40px 0;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  main #contact article:nth-child(1) {
    margin-bottom: 0px;
  }
}
main #contact article:nth-child(1) h2 {
  font-size: 3rem;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  main #contact article:nth-child(1) h2 {
    font-size: 2.7rem;
  }
}
main #contact article:nth-child(1) p {
  font-size: 1.5rem;
  color: lightGray;
  font-weight: 700;
}
@media (max-width: 768px) {
  main #contact article:nth-child(1) p {
    font-size: 1.3rem;
  }
}
main #contact article:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin: 0;
}
@media (max-width: 768px) {
  main #contact article:nth-child(2) {
    flex-direction: column;
  }
}
main #contact article:nth-child(2) form {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-right: 1px solid rgba(211, 211, 211, 0.7);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  main #contact article:nth-child(2) form {
    flex: 0 0 100%;
    display: inline-flex;
    border-right: none;
    margin-bottom: 0px;
  }
}
main #contact article:nth-child(2) form input[type=text] {
  flex: 0 0 44%;
  padding: 20px 30px;
  margin: 30px 0;
  background-color: #765eb3;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  main #contact article:nth-child(2) form input[type=text] {
    flex: 0 0 100%;
    padding: 20px;
    margin: 10px 0;
  }
}
main #contact article:nth-child(2) form input:nth-child(2) {
  margin-right: 90px;
}
main #contact article:nth-child(2) form textarea {
  flex: 0 0 91%;
  margin-bottom: 20px;
  background-color: #765eb3;
  border-radius: 10px;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  main #contact article:nth-child(2) form textarea {
    flex: 0 0 100%;
    width: none;
    margin-top: 10px;
  }
}
main #contact article:nth-child(2) div {
  flex: 0 0 40%;
  padding: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  main #contact article:nth-child(2) div {
    flex: 0 0 100%;
  }
}
main #contact article:nth-child(2) div h4 {
  font-size: 2rem;
  padding: 20px;
}
main #contact article:nth-child(2) div p {
  font-size: 1.3rem;
  padding-left: 30px;
  color: rgba(211, 211, 211, 0.7);
  font-weight: 600;
}

/***footer***/
main footer {
  background-color: rgba(94, 66, 166, 0.9);
  padding: 20px 0;
  text-align: center;
}
main footer p {
  font-size: 1.2rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */