@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700&display=swap');

$primaryViolet: #5e42a6;
$navColor: #312450;
$firstBg: #5052b5;
$secondBg: #4c4eac;
$thirdBg: #484aa3;
$fourthBg: #b74e91;
$fourthBglight: #be77a4;
$fifthBg: #5e42a6;
$footerBg: #493382;
$white: #fff;
$border: #765eb3;
$lightGray: rgba(211, 211, 211, .7);
$borderLightGray: rgba(211, 211, 211, .3);
$transition: 0.2s ease;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.btn {
    background: transparent;
    border: 1px solid $border;
    padding: 20px 50px;
    border-radius: 50px;
    color: $white;
    font-size: 1.3rem;
    margin: 30px 0;

    @media(max-width: 768px) {

        margin: 30px 10px;

    }

    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    transition: $transition;

    &:hover {
        background-color: $border;
        font-size: 1.5rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: $white;
    line-height: 2rem;
    letter-spacing: 2px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    color: $white;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: $transition;

    &:hover {
        color: $lightGray;
    }
}

ul {
    list-style: none;
}

p {
    font-weight: 300;
    line-height: 3rem;
}

img {
    /*  display: block;
    width: 100%; */
}


/***menu***/
aside {
    width: 30%;
    height: 100vh;
    position: fixed;
    float: left;

    @media(max-width: 768px) {
        // @include flex(space-between, center, column);
        //flex-wrap: wrap;
        position: relative;
        width: 100%;
    }

    .menu {
        @include flex(space-between, flex-end, column);
        //width: 700px;
        height: 100%;
        padding: 70px 50px;
        background-color: $navColor;

        .logo {
            margin: 0 auto;
        }

        ul {
            @include flex(space-between, flex-end, column);
            padding: 30px;
            line-height: 4rem;

            li {
                position: relative;
                padding: 20px;

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 70px;
                    border: 1px solid $primaryViolet;
                    display: inline-block;
                    width: 550px;
                    margin: 0 auto;
                    height: 0;
                }
            }
        }

        .social {
            @include flex(space-between, center, row);
            padding-right: 50px;

            i {
                font-size: 3rem;
                margin-left: 20px;
            }
        }
    }
}

/***main***/
main {

    scroll-behavior: smooth;
    float: right;
    width: 70%;
    height: 100vh;

    @media(max-width: 768px) {
        position: relative;
        width: 100%;
    }

    header {
        background-image: linear-gradient(rgba($primaryViolet, .8), rgba($primaryViolet, .8)), url(img/circle.png);
        background-position: center;
        background-size: cover;
        min-height: 100vh;

        div {
            @include flex(center, flex-start, column);
            padding: 40vh 100px 50px 100px;

            @media(max-width: 768px) {
                padding: 30vh 100px 50px 100px;
            }

            h1 {
                font-size: 6rem;

                @media(max-width: 768px) {
                    font-size: 4rem;
                }
            }

            p {
                padding: 100px 0;
                font-size: 1.5rem;
                line-height: 3rem;

                @media(max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }

    }


    /***about***/
    #about {
        height: 100vh;

        @media(max-width: 768px) {
            height: 100%;
        }

        article {
            @include flex(space-between, center, row);

            @media(max-width: 768px) {
                flex-wrap: wrap;
                flex-direction: column;
            }

            div {
                @media(max-width: 768px) {
                    width: 100%;
                }

                img {
                    display: block;
                    width: 33.33vh;

                    @media(max-width: 768px) {
                        width: 100%;
                    }
                }


                h3 {
                    font-size: 2.5rem;
                    padding-bottom: 50px;

                    @media(max-width: 768px) {
                        font-size: 2rem;
                        padding-left: 50px;
                    }
                }

                p {
                    font-size: 1.3rem;
                    line-height: 2.5rem;
                    padding-bottom: 30px;

                    @media(max-width: 768px) {
                        font-size: 1.3rem;
                        padding: 0 50px;
                    }
                }

                &:first-child {
                    flex: 0 0 30%;

                    @media(max-width: 768px) {
                        flex: 0 0 100%;
                    }
                }

                &:last-child {
                    @include flex(center, flex-start, column);
                    flex: 0 0 70%;
                    padding: 50px 0 50px auto;
                    flex-wrap: wrap;

                    @media (max-width: 767px) {
                        flex: 0 0 100%;
                        padding: 30px;
                    }
                }

            }


            &:nth-child(1) {
                background-color: $firstBg;
            }

            &:nth-child(2) {
                background-color: $secondBg;
            }

            &:nth-child(3) {
                background-color: $thirdBg;
            }
        }
    }

    /***whatwedo***/
    #whatwedo {
        background-color: $fourthBg;
        padding: 40px 100px;
        height: 100vh;
        @include flex(flex-start, flex-start, column);

        @media(max-width: 768px) {
            height: 100%;
            flex-wrap: wrap;
        }

        article {
            &:nth-child(1) {

                flex: 0 0 30%;
                padding: 40px 0;

                h2 {
                    font-size: 2.7rem;
                    padding-bottom: 30px;
                }

                p {
                    font-size: 1.3rem;

                }
            }

            &:nth-child(2) {
                flex: 0 0 30%;
                background-color: $fourthBglight;
                @include flex(space-between, center, row);
                flex-wrap: wrap;

                div {
                    flex: 0 0 50%;
                    padding: 70px 50px 70px 0;
                    border: 1px solid $lightGray;
                    @include flex(center, flex-start, row);
                    flex-wrap: wrap;

                    @media(max-width: 768px) {
                        @include flex(center, center, column);
                        flex: 0 0 100%;
                    }


                    i {
                        flex: 0 0 30%;
                        font-size: 5rem;
                        text-align: center;

                        @media(max-width: 768px) {
                            flex: 0 0 100%;
                            padding-bottom: 50px;
                        }

                    }

                    div {
                        flex: 0 0 70%;
                        padding: 0;
                        border: none;
                        @include flex(space-between, flex-start, column);

                        @media(max-width: 768px) {
                            flex: 0 0 100%;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                            padding-bottom: 50px;
                        }

                        h4 {
                            font-size: 2rem;
                            padding-bottom: 20px;

                        }

                        p {
                            font-size: 1.3rem;

                            @media(max-width: 768px) {
                                text-align: center;
                                padding-left: 50px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    flex: 0 0 30%;
                    //padding: 50px 0;
                }
            }


        }
    }



    /***contact***/
    #contact {
        background-color: $fifthBg;
        padding: 40px 100px;
        height: 100vh;
        @include flex(center, center, column);


        @media(max-width: 768px) {}

        article {
            &:nth-child(1) {
                padding: 40px 0;
                margin-bottom: 50px;

                h2 {
                    font-size: 3rem;
                    padding-bottom: 30px;

                    @media(max-width: 768px) {
                        font-size: 2.7rem;
                    }

                }

                p {
                    font-size: 1.5rem;
                    color: lightGray;
                    font-weight: 700;

                    @media(max-width: 768px) {
                        font-size: 1.3rem;
                    }
                }
            }

            &:nth-child(2) {
                @include flex(flex-start, flex-start, row);
                margin: 0;

                @media(max-width: 768px) {
                    flex-direction: column;
                }


                form {
                    flex: 0 0 60%;
                    @include flex(space-between, flex-start, row);
                    flex-wrap: wrap;
                    border-right: 1px solid $lightGray;
                    margin-bottom: 20px;

                    @media(max-width: 768px) {
                        flex: 0 0 100%;
                        display: inline-flex;
                        border-right: none;
                    }


                    input[type="text"] {
                        flex: 0 0 44%;
                        padding: 20px 30px;
                        margin: 30px 0;
                        background-color: $border;
                        border-radius: 10px;
                        border: none;
                        font-size: 1.2rem;

                        @media(max-width: 768px) {
                            flex: 0 0 100%;
                            padding: 20px;
                            margin: 10px 0;
                        }

                    }

                    input:nth-child(2) {
                        margin-right: 90px;
                    }

                    textarea {
                        flex: 0 0 91%;
                        margin-bottom: 20px;
                        background-color: $border;
                        border-radius: 10px;
                        border: none;
                        padding: 20px;
                        font-size: 1.2rem;

                        @media(max-width: 768px) {
                            flex: 0 0 100%;
                            width: none;
                            margin-top: 10px;
                        }
                    }

                }

                div {
                    flex: 0 0 40%;
                    padding: 20px;
                    margin-top: 20px;


                    @media(max-width: 768px) {
                        flex: 0 0 100%;
                    }

                    h4 {
                        font-size: 2rem;
                        padding: 20px;

                    }

                    p {
                        font-size: 1.3rem;
                        padding-left: 30px;
                        color: $lightGray;
                        font-weight: 600;
                    }
                }
            }

        }
    }

    /***footer***/
    footer {
        background-color: rgba($fifthBg, 0.9);
        padding: 50px 0;
        text-align: center;

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }

    }
}